<!DOCTYPE html>
<html lang="es">
  <head>
  	<meta charset="utf-8">
    <title>Talk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  	<%= stylesheet_link_tag    "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body id="rtc-<%= @rtc %>">
    <div class="container">

      <div class="header">
        <!-- ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/rooms">Rooms</a></li>
        </ul -->
        <h3 class="text-muted"><a href="/">Talk</a></h3>
        <select id="js-theme-switcher" style="float:right;">
          <option>amelia</option>
          <option>cerulean</option>
          <option>cosmo</option>
          <option>cyborg</option>
          <option>flatly</option>
          <option>journal</option>
          <option>readable</option>
          <option>simplex</option>
          <option>slate</option>
          <option>spacelab</option>
          <option>united</option>
        </select>
      </div>

      <%= yield %>

    </div>

	<%= javascript_include_tag "application" %>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
