<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Talk</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    "application", media: "all" %>

  <!-- Facebook Meta Tags -->
  <meta property="og:site_name" content="Talk"/>
  <meta property="og:description" content="Join to Talk to talk with me!"/>
  <meta property="og:title" content="<%= @OG_TITLE %>"/>

  <%= csrf_meta_tags %>
</head>
<body id="rtc-<%= @rtc %>">

<a href="https://github.com/alabs/myRTC"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

  <div id="fb-root"></div>
  <div class="container">
    <div class="header">
      <!-- ul class="nav nav-pills pull-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/rooms">Rooms</a></li>
      </ul -->
      <h3 class="text-muted"><%= link_to image_tag('logo.png'), root_path %></h3>
        <% if @room and @room.name? %>
          <div class="header-wrapper">
            <%= render :partial => "header", :locals => { :room => @room } %>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
  </html>
